body {
    font-family:'Montserrat', sans-serif;
    background-image: url(../img/fon.jpg);
    width: 1920px;
    height: 1280px;
    background-repeat: no-repeat;
}

.site-header {
    width: 1920px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    background-color: #001122;
}

.logo {
    width: 4%;
    height: 8%;
    margin-top: 50px;
    margin-left: 8%;
}

.info {
    margin-top: 50px;
    font-size: 30px;
    line-height: 100px;
    letter-spacing: -2px;
}

.info > ul {
    display:flex;
    justify-content: left;
    list-style-type: none;
}

.info > ul li a  {
    display: block;
    color: #ffffff;
    cursor: pointer;
    padding-left: 75px;
    text-decoration: none;
}

ul li a:hover {
    color: #72656e;}

.social-network {
    margin-top: 88px;
    margin-left: 36%;
}

i {
    font-size: 28px;
}

.social-network > i {
    color: #ffffff;
    cursor: pointer;
    padding-left: 15px;
}

h1, p {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Caveat', cursive;
}

h1 {
    color: white;
    text-align: center;
    font-size: 100px;
    margin-top: 20%;
}

p {
    color: #ffffff;
    display: block;
    font-size: 65px;
    text-align: center;
    margin-top: 2%;
}

.Press-button {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

button {
    width: 396px;
    height: 84px;
    background-color: #85231e;
    font-size: 35px;
    border: none;
    color: #ffffff
}

button:hover {
    font-size: 40px;
    background-color: #400c0d;
}






 
 